<!DOCTYPE html>
<html>
<head>
	<title>Detail Admin - Home</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/css/admin/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/admin/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/admin/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="/css/admin/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/css/admin/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/elements.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/css/admin/compiled/index.css" type="text/css" media="screen" />    

   <!-- scripts -->
    <script src="/js/admin/jquery-latest.js"></script>
    <script src="/js/admin/bootstrap.min.js"></script>
    <script src="/js/admin/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="/js/admin/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="/js/admin/jquery.flot.js"></script>
    <script src="/js/admin/jquery.flot.stack.js"></script>
    <script src="/js/admin/jquery.flot.resize.js"></script>
    <script src="/js/admin/theme.js"></script>
    <!-- layer -->
    <script src="/pluging/layer/layer.js"></script>
    <script src="/pluging/layer/extend/layer.ext.js"></script>
    <script src="/js/check.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
</html>