<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyRemarkMapper">
	<!-- 新增账号-->
	<insert id="saveRemark" parameterType="pd" useGeneratedKeys="true" keyProperty="acc_no">
		insert into acc_myremark(
			title,	<!-- 主题-->
			description,     <!-- 描述-->
			create_time,   <!-- 创建时间-->
			acc_no, <!-- 账号-->
			acc_name <!-- 账号名-->
		) values (
			#{title},	
			#{description},
			#{create_time},
			#{acc_no},
			#{acc_name}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="deleteRemark" parameterType="pd">
	delete from 
	           acc_myremark
	where 
			remark_no = #{remark_no}
	</delete>
	
	<!-- 修改 -->
	<update id="updateRemark" parameterType="pd">
		update  acc_myremark
		set 
				title= #{title},
			    description = #{description}
		where 
				remark_no = #{remark_no}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findRemarkByNO" parameterType="pd" resultType="pd">
		select 
		    remark_no,
			title,	<!-- 主题-->
			description,     <!-- 描述-->
			create_time   <!-- 创建时间-->
		from 
			acc_myremark
		where 
			remark_no = #{remark_no}
	</select>
	
	<!--根据条件查找-->
	<select id="findRemarkByCondition" parameterType="pd" resultType="pd">
		select 
		    remark_no,
			title,	<!-- 主题-->
			description,    <!-- 描述-->
			create_time,   <!-- 创建时间-->
		from 
			acc_myremark
		where 
		    acc_no=#{acc_no}
		<if test=" title!= null and title!= '' ">
			and title LIKE CONCAT(CONCAT('%', #{title}),'%')
		</if>
		 <if test=" description!= null and description!= '' ">	
		    and description=#{description}
		 </if> 
		 order by create_time desc
	</select>
	<!--根据条件查找(分页显示)-->
	<select id="findRemarklistPage" parameterType="page" resultType="pd">
		select 
		    remark_no,
			title,	<!-- 主题-->
			description,   <!-- 描述-->
			create_time   <!-- 创建时间-->
		from 
			acc_myremark
		where 
		    acc_no=#{pd.acc_no}
		<if test=" pd.title!= null and pd.title!= '' ">
			and title LIKE CONCAT(CONCAT('%', #{pd.title}),'%')
		</if>
		 <if test=" pd.description!= null and pd.description!= '' ">	
		    and description LIKE CONCAT(CONCAT('%', #{pd.description}),'%')
		 </if> 
		 <if test=" pd.condition!= null and pd.condition!= '' ">	
		    and (title LIKE CONCAT(CONCAT('%', #{pd.condition}),'%') or description LIKE CONCAT(CONCAT('%', #{pd.condition}),'%'))
		 </if> 
		 order by create_time desc
	</select>
</mapper>